* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: arial;
  background-color: #209bf1;
  margin: auto;
  width: 75%;
  /*Posible paleta de colores: #f7668e  #345bb3  #d3d0d7  #0a0a16  #209bf1  #2bdad1  #6f4f8f  #4f4d6f  */
}

/* Aplicando grid en pagina home */

.grid-home {
  display: grid;
  gap: 10px;
  grid-column: 1fr;
  grid-row: 8, 1fr;
  grid-template-areas: 
  '   header  header  header'
  '   slider  slider  slider'
  '   publi   publi    publi'
  ' articulo articulo   side '
  ' articulo articulo   side   '
  ' articulo articulo   side '
  ' banner   banner    banner'
  ' footer   footer    footer';
}

/* Probando media query */
@media screen and (max-width: 768px) {

  body {
    font-size: 90%;
  }

  .grid-container #cabecera {
    grid-column: 1/-1;
  }

  .grid-container .slider {
    grid-column: 1/-1;
    display: none;
  }
  
  .grid-container #cuerpo {
    grid-column: 1/-1;
  }

  .grid-container #portada {
    grid-column: 1/-1;
  }

  .grid-container #side {
    grid-column: 1/-1;
    display: none;
  }

  .grid-container #banner {
    grid-column: 1/-1;
  }

  .grid-container #footer {
    grid-column: 1/-1;
  }
}

/* Header */

#cabecera {
  background-color: #345bb3;
  background-size: cover;
  display: grid;
  grid-area: header;
}

.cabecera__logo {
  width: 15%;
  left: 1%;
  margin-left: 13%;
  margin-top: 3.5%;
  position: absolute;
}

.cabecera__background {
  width: 100%;
  height: auto;
}

/* Barra de Navegaci칩n */

.cabecera__lista {
  font-size: 2vw;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  color: white;
  display: flex;
  justify-content: space-between;
  background-color:#345bb3;
  padding: 2% 2% 2% 2%;
}

.cabecera__lista__item {
  display: flex;
  padding: 0% 2% 2% 2%; 

}

.cabecera__lista__item__menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0% 5% 0% 0%;
}

.cabecera__lista__item__menu__boton {
  text-decoration: none;
  color: aliceblue;
}

.cabecera__lista__item__menu__boton:hover { 
  background-color:aliceblue;
  color:#017bab;
  border-radius: 3px 3px 3px 3px;
  margin: 0% 5% 0% 5%;
}

.cabecera__lista__busqueda {
  font-size: 2vw;
  margin-top: 0%;
  margin-left: 15%;
  margin-right: 4%;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color:#345bb3;
  display: flex;
  justify-content: end;
}

.cabecera__lista__busqueda__barra {
  width: 95%;
  height: auto;
  background-color:white;
  border-color:#3683f6;
}

.cabecera__lista__busqueda__boton {
  height: auto;
  width: 100%;
  font-weight: 600;
  background-color: #3683f6;
  border-color:#3683f6;
  color: white; 
}

.cabecera__lista__busqueda__boton:hover { 
  background-color:aliceblue;
  color:#017bab;
  border-radius: 10%;
}

/* Slide de fotos con animaci칩n */

.slider {
  width: 100%;
  height: auto;
  margin-bottom:33%;
  display: grid;
  grid-area: slider;
}

.slide-1, .slide-2, .slide-3, .slide-4, .slide-5 {
  width: 75%;
  resize: both;
  height: auto;
  position: absolute;
}

.slide-1 {
  animation: fade1 20s infinite;
}

.slide-2 {
  animation: fade2 20s infinite;
}

.slide-3 {
  animation: fade3 20s infinite;
}

.slide-4 {
  animation: fade4 20s infinite;
}

.slide-5 {
  animation: fade5 20s infinite;
}

@keyframes fade1 {
  0%{opacity: 1;}
  20%{opacity: 0;}
  40%{opacity: 0;}
  60%{opacity: 0;}
  80%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes fade2 {
  0%{opacity: 0;}
  20%{opacity: 1;}
  40%{opacity: 0;}
  60%{opacity: 0;}
  80%{opacity: 0;}
  100%{opacity: 0;}
}

@keyframes fade3 {
  0%{opacity: 0;}
  20%{opacity: 0;}
  40%{opacity: 1;}
  60%{opacity: 0;}
  80%{opacity: 0;}
  100%{opacity: 0;}
}

@keyframes fade4 {
  0%{opacity: 0;}
  20%{opacity: 0;}
  40%{opacity: 0;}
  60%{opacity: 1;}
  80%{opacity: 0;}
  100%{opacity: 0;}
}

@keyframes fade5 {
  0%{opacity: 0;}
  20%{opacity: 0;}
  40%{opacity: 0;}
  60%{opacity: 0;}
  80%{opacity: 1;}
  100%{opacity: 0;}
}

/* Publicidad con video y enlace a compra */

#cuerpo {
  margin-top: 1%;
  max-width: 100%;
  height: auto;
  display: grid;
  grid-area: publi;
}

.cuerpo {
  background-image: url(multimedia/Images/eldenwall.jpg);
  background-size: cover;
  color: rgb(202, 198, 198);
  border: solid thick rgb(84, 78, 47);
  max-width: 100%;
  height: auto;
}

.cuerpo__logo{
  text-align: center;
}

.cuerpo__parrafo {
  line-height: 25px;
  font-family: 'Bebas Neue';
  text-align: center;
  margin: 0% 1% 0% 1%;
  padding: 1% 0% 1% 0%;
  font-size: 120%;
}

.cuerpo__parrafo__titulo{
  line-height: 33px;
}

.cuerpo__parrafo__item {
  line-height: 25px;
  font-family: 'Bebas Neue';
  text-align: center;
  text-decoration: none;
  margin: 0% 1% 0% 1%;
  padding: 1% 0% 1% 0%;
  font-size: 180%;
  color: rgb(202, 198, 198);
}

.cuerpo__parrafo__item:hover {
  color: rgb(187, 191, 72);
}

.cuerpo__video {
  display: flex;
  justify-content: center;
  margin: 1%;
  padding: 1%;
}

.cuerpo__video__item {
  max-width: 100%;
  height: auto;
  margin: 2%;
}

/* Articulos home */

#portada {
  background-color: #4f4d6f;
  max-width: 100%;
  height: auto;
  display: grid;
  grid-area: articulo;
}

.portada__foto{
  margin-top: 1%;
  padding: 2%;
  width: 100%;
  height: auto;
}

.portada__foto__item {
  border-radius: 4px 4px 4px 4px;
  max-width: 100%;
  height: auto;
  background-color: #4f4d6f;
}

/* Sidebar home */

#side {
  background-color: #4f4d6f;
  display: grid;
  grid-area: side;
}

.side__foto {
  margin-top: 1%;
  padding: 5%;
  width: 100%;
  height: auto;
}

.side__foto__item {
  border-radius: 4px 4px 4px 4px;
  max-width: 100%;
  height: auto;
}

/* banner home */

#banner {
  background-color: #4f4d6f;
  display: grid;
  grid-area: banner;
}

.banner__foto {
  padding: 2%;
  width: 100%;
  height: auto;
}

.banner__foto__item {
  border-radius: 4px 4px 4px 4px;
  max-width: 100%;
  height: auto;
}

/* Formulario inicio de sesion */

/* Aplicando Grid a Cuenta y Sesi칩n */

.grid-cuenta {
  display: grid;
  gap: 10px;
  grid-column: 1fr;
  grid-row: 3, 1fr;
  grid-template-areas: 
  '   header  header  header '
  '   cuenta cuenta cuenta '
  ' footer   footer    footer';
}

#form {
  display: grid;
  grid-area: cuenta;
  padding: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #4f4d6f;
  width: 100% ;
  height: auto;
}
    
.controls {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #3f3b3b;
    font-size: 14px;
    font-weight: bold;
  }
  
.buttons {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
  }

.form-register {
    width: 400px;
    height: 450px;
    background: #3a6bb0;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #0e5571;
    color: rgb(231, 212, 212);
  }

.form-register h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
  }
  
.controls {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #3f3b3b;
    font-size: 14px;
    font-weight: bold;
  }
  
.buttons {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
  }
  
.form-register p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
  }
  
.form-register a {
    color: rgb(224, 215, 215);
    text-decoration: none;
    font-size: 14px;
  }
  
.form-register a:hover {
    text-decoration: underline;
  }

/* Lista de Articulos */

/* Aplicando Grid a Noticias y Reviews*/

.grid-articulos {
  display: grid;
  gap: 10px;
  grid-column: 2fr, 1fr;
  grid-row: 3, 1fr;
  grid-template-areas: 
  ' header   header   header '
  ' noticia  noticia  aside '
  ' footer   footer   footer';
  }

#noticias {
  background-color: #4f4d6f;
  display: grid;
  grid-area: noticia;
  justify-content: center;
  align-items: center;
  }

.noticias__lista {
  list-style-type: none;
  }

.noticias__lista__item {
  border-radius: 4px 4px 4px 4px;
  margin: 2%;
  padding: 2%;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  background-color: #345bb3;
}

.noticias__lista__item:hover {
  color:#017bab;
  background-color:aliceblue;
}

.noticias__lista__item__foto {
  max-width: 100%;
  height: auto;
  display: flex;
  align-self: center;
}

#aside {
  display: flex;
  justify-content: center;
  background-color: #4f4d6f;
  display: grid;
  grid-area: aside;
}

.aside__foto {
  margin-top: 1%;
  padding: 5%;
}

.aside__foto__item {
  border-radius: 4px 4px 4px 4px;
  max-width: 100%;
  height: auto;
}

/* Detalle de Articulos */

h1 {
  text-align: center;
  margin: 5px 20px 5px 20px;
  font-size: 2.5vw;
}

h2 {
  text-align: left;
  margin: 10px 20px 10px 20px;
  font-size: 2vw;
}

h3 {
  text-align: justify;
  margin: 20px 40px 20px 40px;
  font-size: 1.5vw;
}

h4 {
  text-align: center;
  font-size: 2vw;
}

h5 {
  text-align: center;
  margin-top: 1%;
  font: 1vw;
}

#articulo {
  background-color: #4f4d6f;
  max-width: 100%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
}

.articulo {
  margin: 2%; 
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  height: auto;
}

.articulo__parrafo {
  color: white;
}

.articulo__video {
  text-align: center;
  margin: 20px 40px 20px 40px;
}

.articulo__foto{
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
  margin: 2%; 
  padding: 2%;
}

.articulo__foto__item {
  max-width: 100%;
  height: auto;
}

/* Tienda con productos*/

.grid-product {
  background-color: #4f4d6f;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-bottom: 50px;
  padding-left: 1.5%;
  padding-right: 1.5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.wrapper {
  margin: 20px auto;
  padding-bottom: 20px;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.wrapper:hover {
  animation: card 1s  0s 1 normal forwards;
}

@keyframes card {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.1);
	}
}

.product {
  height: 280px;
  width: 270px;
}

.product-img img {
  border-radius: 7px 7px 0px 0px;
}


.product-info {
  height: auto;
  width: auto;
  border-radius: 0px 0px 7px 7px;
  background-color: #345bb3;
}

.product-text {
  height: 220px auto;
  width: 260px auto;
}

.product-text h1 {
  margin: 0 0 0 4px;
  padding-top: 40px;
  font-size: 20px;
  color: #ffffff;
}

.product-text h1,
.product-price-btn p {
  font-family: 'Open Sans', sans-serif;
}

.product-text h2 {
  text-align: center;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 4300;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.1em;
}

.product-text p {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  line-height: 1.7em;
  font-size: 10px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 15px;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 0 10px;
  font-size: 30px;
  font-weight: lighter;
  color: #ffffff;
}

span {
  display: inline-block;
  height: 50px;
  font-family: 'Suranna', serif;
  font-size: 30px;
  margin-top: 7px;
  margin-left: 8px;
}

.product-price-btn button {
  float: right;
  height: 50px;
  width: 126px;
  margin-right: 75px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #209bf1;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #209bf1;
  color: white;
}


/* Aplicando Grid a Top 10*/

/* #top10 {
  text-align: center;
  background-color: #4f4d6f;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 2%;
  display: grid;
  grid-area: noticia;
} */

/* Pie de P치gina*/

#footer {
  background-color: #345bb3;
  color: white;
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-area: footer;
  align-items: center;
  justify-content: center;
}

.footer__redes {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 1%;
  font-size: 2vw;
}

.footer__redes__item {
  padding: 1%;
  text-align: center;
}

.footer__redes__item__boton {
  width: 70%;
  height: auto;
}

.footer__contacto {
  margin-bottom: 2%;
  display: flex;
}

.footer__contacto__item {
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.footer__contacto__item__mapa {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 5%;
}
